.link{
    margin-top: 10px;
}
.insert{
    background-color: floralwhite;

}
.col-sm-4{
    width: 100px !important;
    height: 100px!important;
}
.flex-container {

    display: flex;
    background-color: floralwhite;
    flex-direction: initial;
}
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}